---
import { getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import Socials from "../../components/Socials.astro";
import Breadcrumbs from "../../components/ui/Breadcrumbs.astro";

// Import our new components
import BlogHeader from "../../components/blog/BlogHeader.astro";
import TableOfContents from "../../components/blog/TableOfContents.astro";
import TagList from "../../components/blog/TagList.astro";
import BlogImage from "../../components/blog/BlogImage.astro";
import Comments from "../../components/blog/Comments.astro";
import TocScript from "../../components/blog/TocScript.astro";

export async function getStaticPaths() {
    const blogEntries = await getCollection('blog');
    return blogEntries.map(entry => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
    <article class="max-w-4xl mx-auto px-6 lg:px-12">
        <div class="space-y-8 py-12">
            <Breadcrumbs 
                items={[
                    { label: "Blog", href: "/blog" },
                    { label: entry.data.title }
                ]}
            />
            
            <!-- Article Header -->
            <BlogHeader 
                title={entry.data.title}
                author={entry.data.author}
                publishDate={entry.data.publishDate}
            />

            <!-- Featured Image -->
            <BlogImage 
                src={entry.data.image} 
                alt={entry.data.title} 
            />

            <!-- Table of Contents -->
            <TableOfContents content={entry.body} />

            <!-- Article Content -->
            <div class="prose prose-invert prose-lg max-w-none">
                <Content />
            </div>

            <!-- Tags -->
            <TagList tags={entry.data.tags} />
            
            <!-- Comments Section -->
            <Comments />
        </div>
        <Socials />
    </article>
</Layout>

<TocScript />
