---
import logo from "public/images/Logo.svg";

// Nav Links
let navLinks = [
    { name: "Works", href: "/works" },
    { name: "Contribution", href: "#" },
    { name: "Get in Touch", href: "#" },
];
---

<!-- todo: Mobile Navigation + Hamburgur -->
<div
    class="sticky py-2 top-0 w-full bg-dark/20 backdrop-blur flex-none border-b border-white/5 z-10"
>
    <div class="max-w-8xl mx-auto">
        <div class="py-4 px-6 xl:px-12">
            <div class="relative flex items-center justify-between">
                <a href="/">
                    <img src={logo.src} alt="Orpheus Logo" />
                </a>
                <nav class="mt-4">
                    <ul
                        class="hidden md:flex lg:flex space-x-8 text-lg capitalize"
                    >
                        {
                            navLinks.map((link) => (
                                <li>
                                    <a href={link.href} class="nav-link">
                                        {link.name}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </nav>
                <div
                    class="mobile-menu-wrapper w-full h-screen inset-0 fixed z-[-1] bg-dark flex justify-center items-center opacity-0"
                >
                    <ul
                        class="flex flex-col gap-12 nav-main text-[8vw]"
                        id="nav-main"
                    >
                        {
                            navLinks.map((link) => (
                                <li class="nav-item">
                                    <a href={link.href} class="nav-link">
                                        {link.name}
                                    </a>
                                </li>
                            ))
                        }
                    </ul>
                </div>
                <a id="menuBtn" class="block md:hidden lg:hidden xl:hidden">
                    <svg
                        class="ham hamRotate ham8"
                        viewBox="0 0 100 100"
                        width="40"
                        onclick="this.classList.toggle('active')"
                    >
                        <path
                            class="line top"
                            d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"
                        ></path>
                        <path class="line middle" d="m 30,50 h 40"></path>
                        <path
                            class="line bottom"
                            d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"
                        ></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>
