---
export interface Props {
    url: string;
    target?;
    className?: string;
    secondary?: boolean;
}
const defaultText = "Button";
const {
    url,
    target = "_self",
    className,
    secondary = false,
} = Astro.props as Props;
---

{
    secondary ? (
        <a
            href={url}
            target={target}
            class={["btn-secondary group", className].filter(Boolean).join(" ")}
        >
            <slot>{defaultText}</slot>
        </a>
    ) : (
        <a
            href={url}
            target={target}
            class={["btn-primary group", className].filter(Boolean).join(" ")}
        >
            <slot>{defaultText}</slot>
        </a>
    )
}
